/* about start */
#about .btn {
    border: 2px solid black;
    width: 40%;
    padding: 15px 22px;
    background: #fff;
    border-radius: 5px;
    margin-top: 10px;
}

#about .btn a {
    color: #000;
    text-decoration: none;
    font-size: 1em;
}

#about .btn:hover {
    background-color: rgb(238, 238, 238);
}

/* about end */


/* portofolio start */
.project-area {
    padding: 4rem 0;
}

.project-area .button-group button {
    background: transparent;
    border: none;
    font: normal 400 16px/130px var(--roboto);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.project-area .grid .our-project > .title h4 {
    font: normal 700 25px/12px var(--roboto);
}

/* global */
button:focus,
button:active
button:hover
.btn:active,
.btn:active {
    outline: 0px !important;
    box-shadow: none !important;
}



/* portofolio end */