/* Section Start */
body {
    font-family: 'Montserrat', sans-serif;
    /* background-image: linear-gradient(to right, #181818, #434343); */
    background-image: linear-gradient(to top, #181818, #2c2c2c);
    color: white;
  }

  

  /* Section End */

  /* Navbar */
  nav .dika {
    font-family: 'Fugaz One', cursive;
    background: linear-gradient(to right, #5899fa 0%, #3573d1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


  /* Navbar end */


  /* Home */
  #home .container-lg {
    position: relative;
  }

  #home h1 {
    font-weight: 600;
  }

  #particles-js {
    z-index: -10;
    position: absolute;
    height: 100%;
    width: 100%;
    top: -5px;
  }

  #home .bi {
    padding: 5px;
    background: linear-gradient(to right, #5899fa 0%, #3573d1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #home .btn {
    background: linear-gradient(to right, #5899fa 0%, #3573d1 100%);
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
  }

  #home .btn:hover {
    opacity: 0.9;
  }
  

  /* Home end */


  /* about start */
  #about .btn {
    width: 40%;
    padding: 15px 22px;
    border-radius: 5px;
    margin-top: 10px;
  }

  #about .btn a {
    text-decoration: none;
    font-size: 1em;
  }

  #about .btn:hover {
    background-color: rgb(27, 27, 27);
  }

  #about {
    text-align: justify;
    padding: 50px;
    margin-top: 40px;
    background-image: linear-gradient(to right, #0c0c0c , #2c2c2c);
  }

  #about .row p {
    font-size: 14px;
  }

  
    /* image flag hover */
  .kontener {
    position: relative;
    width: 100%;
  }
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-image: url(../img/malaysia.jpg);
    background-size: cover;
    border-radius: 5px;
  }
  .kontener:hover .overlay {
    opacity: 1;
  }


  #about h5 {
    background: linear-gradient(to right, #5899fa 0%, #3573d1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Fugaz One', cursive;
  }

  #about p {
    opacity: 0.5;
  }

  /* about end */

  /* Service Start */
  #services .card1 {
    background-image: url("../img/cardBgUiux.jpg");
    background-size: cover;
    /* background-position: center; */
  }

  #services .card2 {
    background-image: url("../img/cardBgFrontEnd.jpg");
    background-size: cover;
    background-position: center;
  }

  #services .card3 {
    background-image: url("../img/cardBgBackend.jpg");
    background-size: cover;
    background-position: center;
  }

  #services p {
      font-size: 13px;
  }

  #services h2 {
    background: linear-gradient(to right, #e03b28 0%, #f5af19 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Fugaz One', cursive;
  }

  /* Service End */

  /* Get in Touch Section */
  #linkedin h2 {
    background: linear-gradient(to right, #e03b28 0%, #f5af19 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 10vw;
  }

  #linkedin .btn:hover {
    background-color: #ca7900;
  }

  /* Get in Touch Section end */

  /* portofolio start */
  #project h1 {
    background: linear-gradient(to right, #e03b28 0%, #f5af19 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Fugaz One', cursive;
  }

  .project-area {
    padding: 4rem 0;
  }

  .project-area .button-group button {
    background: transparent;
    border: none;
    font: normal 400 16px/130px var(--roboto);
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .project-area .grid .our-project>.title h4 {
    font: normal 700 25px/12px var(--roboto);
  }

  #project button {
    color: white;
  }

  #project button:hover {
    opacity: 0.5;
  }

  #project img {
    width: 354px;
    height: 295px;
  }

  #project .website .tools span{
    background-color: #555555;
    color: #FFFFFF;
    /* text-align: center; */
    padding: 5px 12px;
    border-radius: 20px;
    margin: 5px 6px 0px 0px;
    display: inline-block;
  }
  #project .uiux .tools span{
    background-color: #555555;
    color: #FFFFFF;
    /* text-align: center; */
    padding: 5px 12px;
    border-radius: 20px;
    margin: 5px 6px 0px 0px;
    display: inline-block;
  }
  /* portofolio end */

  /* global */
  button:focus,
  button:active button:hover .btn:active,
  .btn:active {
    outline: 0px !important;
    box-shadow: none !important;
  }

  /* Skills */
  #skill {
    min-height: 600px;
    width: 100%;
  }

  #skill img {
    width: 11%;
    height: 40%;
    margin: 10px;
  }

  #skill img:hover {
    transform: scale(1.1);
  }
  /* End Skills */


  /* portofolio end */


  /* 973 */

@media only screen and (max-width: 973px){
  #services data-tilt {
    display: none;
  }
}